Source: ros-indigo-moveit-ikfast
Section: misc
Priority: extra
Maintainer: G.A. vd. Hoorn <g.a.vanderhoorn@tudelft.nl>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://moveit.ros.org/wiki/Kinematics/IKFast
Standards-Version: 3.9.2

Package: ros-indigo-moveit-ikfast
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Generates a IKFast kinematics plugin for MoveIt using OpenRave generated cpp files.
